.bottomMenuContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    margin-bottom: 4rem;
    padding-inline: 1rem;
    padding-block: 2rem;
  }

  .header button{
    background-color: transparent;
    width: 3.5rem;
  }
  
  .menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    position: relative;
    transition: all 0.3s;
    padding: 8px 0;
  }
  
  .iconContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menuItem.active {
    color: #6E59A5;
  }
  
  .menuItem:hover {
    color: #8B5CF6;
  }
  
  .activeIndicator {
    position: absolute;
    bottom: -10px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #8B5CF6;
    transition: all 0.3s;
  }
  
  .label {
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  @media (max-width: 360px) {
    .bottomMenu {
      padding: 10px 8px;
      border-radius: 16px;
    }
    
    .label {
      font-size: 10px;
    }
  }