:root {
    --font: 'Poppins', sans-serif;
    --bg-color: #F3F4F6;
    --box-shadow:  rgba(17, 24, 39, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --main-color: #1971ea;
    --hlb-body-text-color: rgb(107, 114, 128);
    --hlb-body-bg-color: #ffffff;
    --hlb-btn-primary-color: #1971ea;
    --hlb-btn-primary-bg: #4CAF50;
    --hlb-btn-primary-bg-hover: #45a049;
    --hlb-btn-secondary-color: #ffffff;
    --hlb-btn-secondary-bg: #333333;
    --hlb-form-color: #333333;
    --hlb-form-bg: #ffffff;
    --hlb-form-error-color: #f44336;
    --hlb-form-error-border: #f44336;
    --hlb-form-border-focus-color: #4CAF50;
    --hlb-body-font-size: 16px;
    --hlb-body-font-weight: 400;
    --hlb-h1-font-size: 3.5rem;
    --hlb-h2-font-size: 2rem;
    --hlb-h3-font-size: 1.75rem;
    --hlb-h4-font-size: 1.5rem;
    --hlb-h5-font-size: 1.25rem;
    --hlb-h6-font-size: 1rem;
    --hlb-h1-font-weight: 500;
    --hlb-h2-font-weight: 500;
    --hlb-h3-font-weight: 500;
    --hlb-h4-font-weight: 400;
    --hlb-h5-font-weight: 400;
    --hlb-h6-font-weight: 300;
    --bg-main: #E8EBF0;
    --bg-second: #FFF;
    --font: 'Poppins', sans-serif;
    --title-color: #1e1f22;
}